/.idea/
.env.local
/frontend/node_modules/

###> symfony/framework-bundle ###
/backend/.env.local
/backend/.env.local.php
/backend/.env.*.local
/backend/config/secrets/prod/prod.decrypt.private.php
/backend/public/bundles/
/backend/var/
/backend/vendor/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/backend/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
