@use "sass:color"
@use "sass:map"
@import template/variables/colors
@import '@vuepic/vue-datepicker/src/VueDatePicker/style/main.scss'


.dp__input_wrap
  box-sizing: border-box
.dp__clear_icon
  top: calc(50% - 10px)

.dp__theme_dark
  //--dp-background-color: black
  //--dp-hover-color: $surfaceLighten
  //--dp-primary-color: $primary
  //--dp-primary-text-color: $primary

.icon-wrapper
  width: 64px
  height: 64px

i.fa.v-icon
  margin-top: -4px

.v-autocomplete, .v-select
  &.v-input--density-compact
    .v-field__input
      min-height: 40px

.bg-success-gradient, .v-btn.success
  color: $text-light
  background-color: $success
  background-image: linear-gradient(195deg, $success, lighten($success, 10%))
  box-shadow: 0 3px 3px 0 rgba($success, .15), 0 3px 1px -2px rgba($success, .2), 0 1px 5px 0 rgba($success, .15)

.v-btn.success:hover
  box-shadow: 0 14px 26px -12px rgba($success, .4), 0 4px 23px 0 rgba($success, .15), 0 8px 10px -5px rgba($success, .2)

.bg-info-gradient, .v-btn.info
  color: $text-light
  background-color: $info
  background-image: linear-gradient(195deg, $info, lighten($info, 10%))
  box-shadow: 0 3px 3px 0 rgba($info, .15), 0 3px 1px -2px rgba($info, .2), 0 1px 5px 0 rgba($info, .15)

.v-btn.info:hover
  box-shadow: 0 14px 26px -12px rgba($info, .4), 0 4px 23px 0 rgba($info, .15), 0 8px 10px -5px rgba($info, .2)

.bg-warning-gradient, .v-btn.warning
  color: $text-light
  background-color: $warning
  background-image: linear-gradient(195deg, $warning, lighten($warning, 10%))
  box-shadow: 0 3px 3px 0 rgba($warning, .15), 0 3px 1px -2px rgba($warning, .2), 0 1px 5px 0 rgba($warning, .15)

.v-btn.warning:hover
  box-shadow: 0 14px 26px -12px rgba($warning, .4), 0 4px 23px 0 rgba($warning, .15), 0 8px 10px -5px rgba($warning, .2)

.bg-danger-gradient, .v-btn.danger
  color: $text-light
  background-color: $danger
  background-image: linear-gradient(195deg, $danger, lighten($danger, 10%))
  box-shadow: 0 3px 3px 0 rgba($danger, .15), 0 3px 1px -2px rgba($danger, .2), 0 1px 5px 0 rgba($danger, .15)

.v-btn.danger:hover
  box-shadow: 0 14px 26px -12px rgba($danger, .4), 0 4px 23px 0 rgba($danger, .15), 0 8px 10px -5px rgba($danger, .2)

.bg-primary-gradient, .v-btn.primary
  color: $text-light
  background-color: $primary
  background-image: linear-gradient(195deg, $primary, lighten($primary, 10%))
  box-shadow: 0 3px 3px 0 rgba($primary, .15), 0 3px 1px -2px rgba($primary, .2), 0 1px 5px 0 rgba($primary, .15)

.v-btn.primary:hover
  box-shadow: 0 14px 26px -12px rgba($primary, .4), 0 4px 23px 0 rgba($primary, .15), 0 8px 10px -5px rgba($primary, .2)

.bg-secondary-gradient, .v-btn.secondary
  color: $text-light
  background-color: $secondary
  background-image: linear-gradient(195deg, $secondary, lighten($secondary, 10%))
  box-shadow: 0 3px 3px 0 rgba($secondary, .15), 0 3px 1px -2px rgba($secondary, .2), 0 1px 5px 0 rgba($secondary, .15)

.v-btn.secondary:hover
  box-shadow: 0 14px 26px -12px rgba($secondary, .4), 0 4px 23px 0 rgba($secondary, .15), 0 8px 10px -5px rgba($secondary, .2)

.bg-dark-gradient, .v-btn.dark
  color: $text-light
  background-color: $dark
  background-image: linear-gradient(195deg, $dark, lighten($dark, 10%))
  box-shadow: 0 3px 3px 0 rgba($dark, .15), 0 3px 1px -2px rgba($dark, .2), 0 1px 5px 0 rgba($dark, .15)

.v-btn.dark:hover
  box-shadow: 0 14px 26px -12px rgba($dark, .4), 0 4px 23px 0 rgba($dark, .15), 0 8px 10px -5px rgba($dark, .2)



