@mixin dots($count) {
  $text-shadow: ();

  @for $i from 0 through $count {
    $text-shadow: $text-shadow,
      (-0.5+ (random()) * 3) +
        em
        (-0.5+ (random()) * 3) +
        em
        7px hsla(175, 35%, 7%, 0.9);
  }

  text-shadow: $text-shadow;
}

html {
  font: 5vmin/1.3 Serif;
  overflow: hidden;
  background: rgb(0, 0, 0) !important;
}

body,
head {
  display: block;
  color: transparent;
}

head::before,
body::before {
  font-size: 52px;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: '.';
  mix-blend-mode: screen;
  animation: 44s -27s background_move infinite ease-in-out alternate;
}

body::before {
  @include dots(40);
  animation-duration: 44s;
  animation-delay: -27s;
}

body::after {
  @include dots(40);
  animation-duration: 43s;
  animation-delay: -32s;
}

head::before {
  @include dots(40);
  animation-duration: 42s;
  animation-delay: -23s;
}

head::after {
  @include dots(40);
  animation-duration: 41s;
  animation-delay: -19s;
}

@keyframes background_move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }

  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}

.v-application {
  background: #1f1f1f;
}

.v-navigation-drawer--left {
  background: rgba(255, 255, 255, 1);

  &.v-navigation-drawer--expand-on-hover.v-navigation-drawer--is-hovering {
    background: rgba(255, 255, 255, 1);
  }
}