@use "sass:color"
@use "sass:map"
@import template/variables/colors
@import template/variables/btn
@import '@vuepic/vue-datepicker/src/VueDatePicker/style/main.scss'
@import './template/sections/background.scss'

.dp__input_wrap
  box-sizing: border-box
.dp__clear_icon
  top: calc(50% - 10px)

.icon-wrapper
  width: 64px
  height: 64px

i.fa.v-icon
  margin-top: -4px

.icon-fix i.fas.v-icon
  margin-top: -4px
  margin-left: 3px

.v-autocomplete, .v-select
  &.v-input--density-compact
    .v-field__input
      min-height: 40px

::-webkit-scrollbar
  width: 10px

::-webkit-scrollbar-track
  background: rgba(255, 255, 255, 0.7)

::-webkit-scrollbar-thumb
  background-color: $secondary
  background-image: linear-gradient(195deg, $secondary, lighten($secondary, 10%))
