<h1>We received a request a password recovery</h1>
<p>
    If you requested the recovery to the email: <strong>{{ email.toName }}</strong>
    please click the following link to complete the request.
</p>
<p>
    <a href="{{ url }}">Click here</a>
</p>